.cardItem{
  background-color: transparent;
  height:13rem;
  width:10rem;
  border-radius:5px;
  perspective: 900px;
  justify-self: center;
}

.card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.cardItem:hover .card-inner{
  transform: scale(1.03)rotateY(180deg);
  box-shadow:0px 0px 3px 3px black,0px 0px 8px 2px white,0px 0px 9px 2px white;
  border-radius:5px;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  
}

.card-front {
  background-image:linear-gradient(0deg, rgb(100, 65, 165), rgb(42, 8, 69));
  color: black;
  border-radius:5px;
}

.card-back {
  background-image:linear-gradient(0deg, rgb(100, 65, 165), rgb(42, 8, 69));
  border-radius:5px;
  color: white;
  transform: rotateY(180deg);
}


.image{
  position: absolute;
  overflow: hidden;
  top:0;
  left:0;
  width:96%;
  height:65%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius:15px 0px 300px 0px;
  background-image: url(../assets/harryriding.jpg);
}

.name-container{
  position: absolute;
  top:70%;
  left:0;
  width:100%;
  color: white;
}

.name{
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow:0 0 10px black;
}

.hogwarts{
  width:90%;
  height:auto;
  
}
.read-more-button{
  margin-top:20px;
  width:80%;
  height:30px;
  border:none;
  color:rgb(100, 65, 165);
  border-radius: 5px;
  background-color:white;
  box-shadow:0px 0px 8px  black,0px 0px 9px  white;
}

.read-more{
  line-height: 30px;
  font-family: 'Roboto Condensed', sans-serif;
}


@media only screen and (max-width: 768px) {

  .cardItem{
    height:10rem;
    width:8rem;
  }
  .read-more-button{
    margin-top:0px;
  }
}
/*rgb(195, 20, 50), rgb(36, 11, 54)*/